main {
    padding: 30px;
}

#game-board, #game-controls {
    max-width: 64vh;
}

#game-board .game-row {
    display: flex;
    gap: 20px;
}

#game-board .game-card {
    flex: 0 1 100%;
    aspect-ratio: 3 / 4;
    position: relative;
}

#game-board .game-card>div {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    border-radius: 10px;
    position: absolute;
    transition: transform 0.8s;
}

#game-board .game-card .card-back {
    background-color: #444cf7;
}

#game-board .game-card .card-front {
    background-color: #FFFFFF;
}